<div class="dash-card countdown-card">
    <div class="cd-header-row">
        <span class="card-label"><i class="far fa-clock"></i></span>
        <span id="countdownLabel" class="cd-exam-name" title="Click to change exam name">Countdown</span>
        <button class="cd-edit-btn" id="editExamDateBtn"><i class="fas fa-pen"></i></button>
    </div>
    <div class="cd-numbers" id="countdownNumbers">
        <div class="cd-item"><div class="cd-num" id="cdDays">--</div><div class="cd-lbl">Days</div></div>
        <div class="cd-item"><div class="cd-num" id="cdHours">--</div><div class="cd-lbl">Hrs</div></div>
        <div class="cd-item"><div class="cd-num" id="cdMins">--</div><div class="cd-lbl">Min</div></div>
        <div class="cd-item"><div class="cd-num" id="cdSecs">--</div><div class="cd-lbl">Sec</div></div>
    </div>
</div>
