<div class="io-bar dev-feature" id="devTools">
    <button class="fx-hover-water" id="exportBtn"><i class="fas fa-download"></i> Export</button>
    <button class="fx-hover-water fx-hover-water-secondary" id="importBtn"><i class="fas fa-upload"></i> Import</button>
    <input type="file" id="fileInput" accept=".json" />
    <button class="fx-hover-water fx-hover-water-secondary" id="resetScheduleBtn"><i class="fas fa-undo"></i> Reset</button>
    <button class="fx-hover-water fx-hover-water-secondary" id="setStartDateBtn"><i class="fas fa-calendar-plus"></i> Set Start Date</button>
</div>
